#result-page {
background-color: var(--white-2);
box-shadow: var(--shadow-xl);
border-radius: 0.5rem;
display: flex;
}

#main-result-page {
width: 100%;
}

#search-contents {
width: calc(100% - 70px);
padding: 20px;
}

.search-cont-inputs input{
--w: calc(100% - 5px);
background-color: var(--white-1);
border: 1.5px solid var(--bor-white-3);
border-radius: 5px;
box-shadow: var(--shadow-md);
color: var(--txt-color);
outline: none;
min-width: var(--w);
padding: 10px 12px;
}

@media screen and (min-width: 900px){
.search-cont-inputs input{
--w:200px;
}
}

/* .search-cont-inputs{
display: flex;
background-color: red;
justify-content: center;
}

.search-cont-inputs input{
border: 1px solid vafr(--mai);
width: 100%;
}*/