
[data-title]:hover:after,
[data-title-up]:hover:after,
[data-sm-title]:hover:after {
  opacity: 1;
  transition: all 0.3s ease 0.5s;
  visibility: visible;
  z-index: 100000000;
}

[data-title],
[data-title-up],
[data-sm-title] {
  position: relative;
}

[data-title]:after,
[data-title-up]:after,
[data-sm-title]:after {
  display: flex;
  justify-content: center;
  text-align: center;
  content: var(--data-title-cont);
  padding: var(--data-title-pd);
  font-size: var(--data-title-ft-s, 100%);
  top: var(--data-title-top-over, var(--data-title-top));
  left: var(--data-title-left-over, var(--data-title-left));
  bottom: var(--data-title-bottom-over);
  line-height: var(--data-title-line-h);
  width: var(--data-title-width-over, var(--data-title-width));
  background-color: var(--data-title-bg, var(--white-1));
  color: var(--data-title-color, var(--data-title-color));
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  position: absolute;
  white-space: nowrap;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  opacity: 0;
  z-index: 100000000;
  visibility: hidden;
  text-align: center;
  white-space: nowrap;
  box-shadow: var(--u-box-shadow-md);
}

[data-title]:after {
  --data-title-cont: attr(data-title);
  --data-title-ft-s: 80%;
  --data-title-pd: 4px 5px 2px 5px;
  --data-title-top: 3.4rem;
  --data-title-left: -2.5em;
  --data-title-line-h: 1.5rem;
  --data-title-width: 95px;
}

[data-title-up]:after {
  --data-title-cont: attr(data-title-up);
  --data-title-ft-s: 80%;
  --data-title-pd: 4px 5px 2px 5px;
  --data-title-left: -2em;
  --data-title-line-h: 1.5rem;
  --data-title-width: 60px;
  --data-title-top: -40px;
}

[data-sm-title]:after {
  --data-title-cont: attr(data-sm-title);
  --data-title-ft-s: 70%;
  --data-title-pd: 1px 4px 2px 4px;
  --data-title-top: 2.5rem;
  --data-title-left: -1.2rem;
  --data-title-line-h: 1rem;
  --data-title-width: 50px;
}
